h1{
  color: orange;
  font-size: 7.5em;
  font-family: 'Bebas Neue', bold;
  margin: 0px 0px 0px 0px; 
  padding: 20px 20px 20px 20px;
}

h2{
  font-size: 2em;
  font-family: 'Bebas Neue', bold;
  margin: 0px 0px 0px 0px; 
  padding: 10px 10px 10px 10px;
  
}

h3{
  font-size: 1.5em;
  font-family: 'Bebas Neue', bold;
  margin: 0px 0px 0px 0px; 
  padding: 10px 10px 10px 10px;
}

h4{
  font-size: 1.5em;
  color: #f1f1f0; 
  font-family: 'Bebas Neue', bold;
  margin: 0px 0px 0px 0px; 
  padding: 10px 10px 10px 10px;
}

p{
    color: black;
    font-family: 'Droid Sans', sans-serif;
    margin-top: px;
    margin-bottom: 20px;
    margin-right: 200px;
    margin-left: 200px;
}

#profilepic {
    border: 1px solid red;
}
